{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-12">
        <h1>Carnegie Mellon University's Mars Habitat Prototype</h1>

        <p>This course is all about Mars. The objective is collaborative exploration of future possibilities. Together, we’ll explore a pretty exciting context for intelligent spaces and physical computing. We’ll do this through rapid but rigorous investigation across disciplines and domains. Here are some of the ideas and principles behind the course and it’s structure:<br><br>

Collaboration: The course will be largely collaborative. You’ll work with students from a range of disciplines and background to think about how we might go to Mars in the future. You’ll also have some independent research and work as part of this course.<br><br>

Ownership and Agency: The structure of this course is open-ended. We haven’t prefixed any outcomes and want each student to have the opportunity to help define the direction, outcomes and approach we take.<br><br>

Deep Investigation: The first half of the semester will spent investigating Mars and the possibilities for technology that could be used there. Collaboratively and independently, you’ll explore Mars and the challenges of technology in that context. Collaboratively you’ll do that by making; you’ll immediately actualize theory and ideas as interactive prototypes and practical demonstrations. Independently, you’ll find an issue and challenge that excites you and dig in deep to explore research, theory, practice and potential solutions.<br><br>

Rigorous Application: In the second half of the semester, we’ll bring all of the ideas and investigations together as a huge collaborative endeavour. Together, as a group, we’ll make a vision of Mars exploration reality. By the end of the semester, we’ll fuse technology and structure and place a full-scale, working prototype on the CFA lawn.<br><br>

Facilitation not Instruction: This course isn’t about top-down instruction; it’s about interdisciplinary collaboration. It’s designed so you’ll learn more from each other than the instructor. Instructors are here to help this process and collaborate with you (not prescribe a path) in how you explore new and innovative technology contexts.<br><br>

Document, everything: A lot of ground will be covered very quickly. Document not only the outcomes but the ideas you don’t pursue and why, the ideas and theory you encounter, the methods used, the questions raised and the challenges posed. This information could be useful to others in the course, it could be useful to the those in the other course and it could be useful to you later in the semester. We’ll provide tools and channels for you to share this info.<br><br>

Motivated & Engaged: We’re really excited about the possibilities for Mars exploration, we want you to be too. Your responsibility as a student in this course is to show that excitement! Engage with your peers, have conversations, ask questions, share ideas and links; be an active participant; pursue provocative problems, opportunities and solutions.<br><br>

Unconventional Thinking: Building a martian biome isn’t an everyday activity, but we’re incredibly familiar with the conventions of space exploration. Our expectations on how we go there, what it might look like and how it might work have all been set by movies, TV and even actual missions to Mars; but forget all this. This studio embraces unconventional approaches. Engage and encounter science or precedents but don’t be burdened by them. Embrace the outlandish, absurd and ridiculous as much as the pragmatic.</p>
    </div>
  </div>
</div>

{% endblock %}