{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'Mars logo padding-10.png'%}">
    </a>
    <h1>List of Sensor Data</h1>
  </div>
</div>
<div class="container">
  <hr>
  <div class="alert alert-info text-center" role="alert">
    This data is streaming live from the on-site computer and is limited to the most recent 50 entries. If there is no recent data, that means that the connection has ben interrupted. Data is still being gathered and queued, and it will be available as soon as the connection is restored. 
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Most recent data displayed first</h3>
      {% if data %}
        <table class='table'>
            <tr><th>Sensor</th><th>Value</th><th>Date and Time</th></tr>
            <br>
            {% for d in data %}
                <tr>
                    <td>{% for s in sensors %}{% if d.sensor_id_id == s.id %}{{ s.sensor_type }}{% endif %}{% endfor %}</td>
                    <td>{{ d.value }} {% for s in sensors %}{% if d.sensor_id_id == s.id %}{{ s.units }}{% endif %}{% endfor %}</td>
                    <td>{{ d.gathered_at }}</td>
                </tr>
            {% endfor %}
        </table>
      {% else %}
        <p>There is no data at this point.</p>
      {% endif %}
      <br><br>
      <h3><span class="glyphicon glyphicon-info-sign"></span> Most recent images displayed first</h3>
      {% if images %}
        <table class='table'>
            <tr><th>Picture</th><th>Date and Time</th></tr>
            <br>
            {% for i in images %}
                <tr>
                    <td><img src={{ i.image_address }} alt="Image taken inside habitat" height="200"></td>
                    <td>{{ i.gathered_at }}</td>
                </tr>
            {% endfor %}
        </table>
      {% else %}
        <p>There are no images at this point.</p>
      {% endif %}
    </div>
  <br>
  </div> <!-- row -->
</div>
{% endblock %}