{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>List of Sensor Data</h1>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Most recent data displayed first</h3>
      {% if data %}
        <table class='table'>
            <tr><th>Location</th><th>Sensor</th><th>Value</th><th>Date and Time</th></tr>
            <br>
            {% for d in data %}
                <tr>
                    <td>{% for p in photons %}{% if d.photon_id_id == p.id %}{{ p.location_description }}{% endif %}{% endfor %}</td>
                    <td>{% for s in sensors %}{% if d.sensor_id_id == s.id %}{{ s.sensor_type }}{% endif %}{% endfor %}</td>
                    <td>{{ d.value }} {% for s in sensors %}{% if d.sensor_id_id == s.id %}{{ s.units }}{% endif %}{% endfor %}</td>
                    <td>{{ d.gathered_at }}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There is no data at this point.</p>
    {% endif %}
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    This data is streaming live from the on-site computer. If there is no recent data, that means that the connection has ben interrupted. Data is still being gathered and queued, and it will be available as soon as the connection is restored. 
  </div>
</div>
{% endblock %}