{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'Mars logo padding-10.png'%}">
    </a>
    <h1>List of Sensor Data</h1>
  </div>
</div>
<div class="container">
  <hr>
  <div class="alert alert-info text-center" role="alert">
    This data is streaming live from the on-site computer and is limited to the most recent 50 entries. If there is no recent data, that means that the connection has ben interrupted. Data is still being gathered and queued, and it will be available as soon as the connection is restored. 
  </div>
  <h3><span class="glyphicon glyphicon-info-sign"></span> Most recent data displayed first</h3>
  <div class="row">
      <div class="col-md-6">
        <div id="temp_graph1" style="width:100%; height:400px;"></div>
        <script>
                $(function () {
                    $('#temp_graph1').highcharts({
                        title: {
                            text: 'Temperature By Layer',
                            x: -20 //center
                        },
                        subtitle: {
                            text: 'Most recent 30 entries',
                            x: -20
                        },
                        xAxis: {
                            title: {
                                text: 'Time: Left to Right -> Oldet to Newest'
                            }
                        },
                        yAxis: {
                            title: {
                                text: 'Temperature (°C)'
                            },
                            plotLines: [{
                                value: 0,
                                width: 1,
                                color: '#808080'
                            }]
                        },
                        tooltip: {
                            valueSuffix: " °C"
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'middle',
                            borderWidth: 0
                        },
                        series: [{
                            name: 'Decomposition Ambient Temperature',
                            data: {{ thirtysix }}.reverse()
                        }, {
                            name: 'Plant Ambient Temperature',
                            data: {{ fortyone }}.reverse()
                        }, {
                            name: 'Decomposition Soil Temperature',
                            data: {{ thirteen }}.reverse()
                        }, {
                            name: 'Plant Cell Temperature',
                            data: {{ fortyfour }}.reverse()
                        }]
                    });
                });
            </script>
      </div> 
      <div class="col-md-6">
          <div id="temp_graph2" style="width:100%; height:400px;"></div>
        <script>
                $(function () {
                    $('#temp_graph2').highcharts({
                        title: {
                            text: 'Soil/Cell Moisture and Humidity',
                            x: -20 //center
                        },
                        subtitle: {
                            text: 'Most recent 30 entries',
                            x: -20
                        },
                        xAxis: {
                            title: {
                                text: 'Time: Left to Right -> Oldet to Newest'
                            }
                        },
                        yAxis: {
                            title: {
                                text: 'Moisture (%)'
                            },
                            plotLines: [{
                                value: 0,
                                width: 1,
                                color: '#808080'
                            }]
                        },
                        tooltip: {
                            valueSuffix: " %"
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'middle',
                            borderWidth: 0
                        },
                        series: [{
                            name: 'Decomposition Soil Moisture',
                            data: {{ ten }}.reverse()
                        }, {
                            name: 'Decomposition Layer Ambient Humitiy',
                            data: {{ twentyeight }}.reverse()
                        }, {
                            name: 'Plant Layer Ambient Humitiy',
                            data: {{ thirtyeight }}.reverse()
                        }, {
                            name: 'Plant Cell Moisture',
                            data: {{ fortythree }}.reverse()
                        }]
                    });
                });
            </script>
      </div>   
  </div>
  <div class="row">
    {% if data %}
      <div class="col-md-12">
        <table class='table'>
            <tr><th>Sensor</th><th>Value</th><th>Date and Time</th></tr>
            <br>
            {% for d in data %}
                <tr>
                    <td>{% for s in sensors %}{% if d.sensor_id_id == s.id %}{{ s.sensor_type }}{% endif %}{% endfor %}</td>
                    <td>{{ d.value }} {% for s in sensors %}{% if d.sensor_id_id == s.id %}{{ s.units }}{% endif %}{% endfor %}</td>
                    <td>{{ d.gathered_at }}</td>
                </tr>
            {% endfor %}
        </table>
      </div>
      {% else %}
      <div class="col-md-12">
        <p>There is no data at this point.</p>
      </div>
      {% endif %}
      <br><br>
    </div>
    <div class="row">
      <div class="col-md-12">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Most recent images displayed first</h3>
      {% if images %}
        <table class='table'>
            <tr><th>Picture</th><th>Date and Time</th></tr>
            <br>
            {% for i in images %}
                <tr>
                    <td><img src={{ i.image_address }} alt="Image taken inside habitat" height="200"></td>
                    <td>{{ i.gathered_at }}</td>
                </tr>
            {% endfor %}
        </table>
      {% else %}
        <p>There are no images at this point.</p>
      {% endif %}
      </div>
    </div>
  <br>
  </div>
</div>
{% endblock %}